$white: #FFFFFF;
$lightBlue: #4BA4F4;
$hotPink: #E02542;
$grey: #B1B1B1;
$darkBlue: #212745;

// * {
//   margin: 0;
//   padding: 0;
//   // border: green solid 1px;
//   font-family: 'Montserrat', sans-serif;
//   box-sizing: border-box;
// }

html {
  font-size: 14px;
}

main {
  width: 50%;
  min-height: 100vh;
  margin: 0 auto;
  padding-top: 15px;
  padding-bottom: 30px;
}

.chart {
  width: 100%;
  height: 444px;
  margin: 0 auto;
  display: flex;
}

.stats-chapter {
  margin-top: 60px;
}

.highlighted {
  background-color: #FFF176;
}

.chart-loading {
  margin: auto;
}